<div class="container-view">
    <div class="container-view__content">
        <h1 class="title">Historia walk</h1>

        <div class="actions">
          <app-button 
            (onClick$)="historyService.downloadHistoryJson()"
            title="Pobierz"
          ></app-button>
          <app-button 
            (onClick$)="historyService.removeHistory()"
            title="Usuń historie"
          ></app-button>
        </div>

        <table>
            <tr>
              <th>Zwycięzca</th>
              <th>Gracz 1</th>
              <th>Gracz 2</th>
            </tr>
            <tr *ngFor="let item of historyService.historyBattle">
              <td>{{item.winnerName}}</td>
              <td>{{item.playerFirst.name}}</td>
              <td>{{item.playerSecond.name}}</td>
            </tr>
        </table>
    </div>
</div>
