@use 'reset.scss';
@use 'mixins.scss';

.container-view {
    @include mixins.flexCenter();
    min-height: 100dvh;
    width: 100%;

    &__content {
        @include mixins.flexCenter();
        flex-direction: column;
        width: 100%;
    }
}
